body, h1, h2, h3, p, blockquote, button {
  margin: 100;
  padding: 100;
  color: aliceblue;
}

body {
  text-align: center;
  font-style: italic;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 2;
  background-image: url("6375161.webp"),url("man-dark-bodybuilder-muscle-wallpaper-preview.jpg");
  background-position: top,bottom;
  background-size:auto;
  background-color: black;
  background-repeat: no-repeat;
}
header {
  margin-right: 100px;
  font-size:xx-large;
  font-style:normal;
  text-align:start;
  background-position: center;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  margin-bottom: 12px;
}

h2 {
  font-style: normal;
  font-size: 30px;
  margin-bottom: 24px;
}
#w{
  font-style: normal;
}
#hero {
  font-style: normal;
  text-align: center;
  padding: 50px;
}
.container{
  padding: 1px 5%;
}
nav{
  font-weight:bold;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo
{
  text-align: left;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;

}
nav ul li a{
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover:after{
  width: 100%;
}
#cta-btn {
  font-style:normal;
  font-size: 15px;
  padding: 5px 400px;
  background-color:rgb(56, 56, 59);
  color:rgb(228, 242, 251);
  cursor: pointer;
}

#cta-btn:hover {
  background-color: chartreuse;
  color: black;
}
footer{
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
#signup-btn {
  font-style:normal;
  font-size: 15px;
  padding: 5px 400px;
  background-color:rgb(56, 56, 59);
  color:rgb(228, 242, 251);
  cursor: pointer;
}

#signup-btn:hover {
  background-color: chartreuse;
  color: black;

}

#features {
  display: flex;
  justify-content: center;
  align-items: center;
}
#c{
  font-style: normal;
  font-family: 'Courier New', Courier, monospace;
  color: beige;
  text-align: end;
  padding: 10%;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}